body
{
    font-family:"Segoe UI",Tahoma,sans-serif;
    background: lightblue;
} 
p{
    color:navy;
}
.sale{
    font-weight: bold;
    background-color:aqua;
}
#sidenote{
    font-weight: bold;
    background-color:aqua;
}
a {
    text-decoration:none;
}
a:hover{
    text-decoration: underline;
    font-weight: bold;
}
