body{
  background-color: skyblue;
}
h1 {
font-family: cursive;
font-size: 12px; 
}
.container{
border-width: 4px;
  border-color: forestgreen;

}
#aboutme{
  border: 2px solid #000000;
  width: 25%;
  height: 300px;
  display: grid;
  grid: "sidebar body1"1fr
  / auto 1fr; 
  gap: 5px;
}
#review{
  border: 2px solid #000000;
  width:75%;
  height: 300px;
  display: grid;
  grid: "sidebar body2"1fr
  / auto 1fr;
  gap: 5px;
}
.infocontainer{
  display:flex;
}
ul{
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color:#777;
  
}
